@{
    ViewData["Title"] = "Home Page";
}


<h1>Login Index</h1>

<div>
    <form method="post">
        <div><span>UserName: </span> <input name="UserName" type="text" /></div>
        <div><span>UserPassword: </span><input name="UserPasswd" type="password" /></div>
        <div><span>UserFullName: </span><input name="UserFullName" type="text" /></div>
        <div><input type="submit" value="Submit" /></div>
    </form>
</div>
